.contact {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.detailsContainer {
  width: 25%;
  background-color: rgb(250, 248, 248);
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  flex-grow: 1;
}
.formarea {
  width: 70%;
  background-color: rgb(250, 248, 248);
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  flex-grow: 1;
}
.formarea form {
  display: flex;
  flex-direction: column;
}
.formarea input,
.formarea button,
.formarea textarea {
  border: none;
  margin: 0.2rem 0 0.2rem 0;
  background: none;
}
.formarea input,
.formarea textarea {
  font-family: Courier New, monospace;
}
.formarea input:focus,
.formarea button:focus,
.formarea textarea:focus {
  outline: none;
}
.formarea input {
  padding: 1rem;
  border-bottom: 1px solid rgb(163, 162, 162);
}
.formarea textarea {
  padding: 2.5rem;
  border-bottom: 1px solid rgb(163, 162, 162);
}
.formarea button {
  width: 20%;
  border: 1px solid rgb(163, 162, 162);
  padding: 0.7rem;
  border-top-left-radius: 25% 60%;
  border-bottom-left-radius: 25% 60%;
  border-top-right-radius: 25% 60%;
  border-bottom-right-radius: 25% 60%;
  cursor: pointer;
}
.formarea button:hover {
  border: 1px solid rgb(63, 63, 63);
}
.detail {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
}
.detail i,
.detail h6,
.detail p {
  margin: 0.2rem;
}
detail h6,
.detail p {
  font-family: Courier New, monospace;
}
@media screen and (max-width: 550px) {
  .formarea button {
    width: 25vw;
  }
}
